.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#161616;

}
.main1{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
    margin-left: 80px;
   
}
.navleft{
    width: 78%;
    height: 100%;
    /* background-color: blue; */
    position: relative;
    display: flex;
    z-index: 1;

}

.navright{
    width: 115%;
    height: 98%;
    background-color: #222222;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    position: relative;
    overflow-y:scroll;
}
.nav{
    /* background-color:blueviolet;  */
    padding-left: 0px;
    padding-top: 0px;
    width: 15.5%;
    height: 80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: absolute;
    left: -75px;
    
}
.screen-mode{
    width: 100%;
    height: 12%;
    color: aliceblue;
    background-color: #222222;
    border:1px solid #222222;
    border-radius: 5px;
    padding-top: 25%;
    padding-left: 35%;
    font-size: 20px;
    cursor: pointer;

}
.screen-mode:hover{
    color:#F8B947;
}
.menu-list{
    width: 100%;
    height: 80%;
    border-radius:7px;
    border: solid 2px #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    cursor: pointer;
    background-color: #222222;

   
}
.menu{
    width: 100%;
    height: 20%;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    color: aliceblue;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgb(106, 113, 113);


}
.menu:hover{
    color: #F8B947;
}
.about{
    color: #F8B947;
}
.nav-icon{
    /* background-color: bisque; */
    font-size: 19px;
    margin-top: 9px;
   
}
.profile-overview{
   width: 100%;
   height: 105%;
   border-radius: 5px;
    position: absolute;
    top: -10px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-overview::before{
    content: "";
    width: 100%;
    height: 460px;
     position: absolute;
     border-radius: 5px;
     top: -20px;
    left: -20px;
     background-color: #52411bbd;
     z-index: -2;
     
 }
 .profile-image{
    /* background-color: aqua; */
    z-index: 1;
    width:70%;
    height: 65%;
    position: absolute;
    top: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-overview img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 30%;
    cursor: pointer;

    /* background-color: aquamarine; */
 }
.background-circle{
    width: 120px;
    height: 120px;
    background-color: #675531;
    position: absolute;
    border-radius: 50%;
    left: 27%;
    top: 13%;
    z-index: 2;
}
.image-background{
    width: 100%;
    height: 67%;
    top: 35%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #222222;
    border-top-right-radius: 70%;
    border-top-left-radius: 70%;
    position: absolute;
    z-index: 1;
}
.name{
    width: 65%;
    height: 10%;
    position: absolute;
    top: 55%;
    left: 19%;
    font-size: 20px;
    color: aliceblue;
    /* background-color: blueviolet; */
}
.posting{
    width: 59%;
    height: 10%;
    position: absolute;
    top: 67%;
    left: 24%;
    color:#F8B947 ;
    font-size: 15px;
    /* background-color: aquamarine; */
}
.profile-icons {
    width: 54%;
    height: 10%;
    /* background-color: rgb(143, 143, 143); */
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 82%;
    left: 24%;
}
.profile-icons a {
    width: 20px;
    height: 22px;
    text-align: center;
    background-color: #222222;
    color: aliceblue;
}
.profile-icons a :hover{
    color: #F8B947;
    cursor: pointer;

}
.cv-section{
    width: 100%;
    height: 14.3%;
    /* background-color: #676561; */
    z-index: 5;
    position: absolute;
    top:86%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    /* padding: 10px; */
    font-weight: 500;
    color: aliceblue;
}
.cv-download{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    /* background-color: aqua; */
    border: 1px solid  rgb(106, 113, 113) ;
}
.cv-download button{
    background-color: #222222;
    border: none;
    width: 70%;
    height: 35%;
    font-size: 17px;
    color: aliceblue;
}
.cv-hover button:hover{
    color: #F8B947;
}
.download-icon{
    font-size: 20px;
    /* background-color: #675531; */
}
.cv-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    align-items: center;
    left: 50%;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border: 1px solid  rgb(106, 113, 113) ;
    /* background-color: blue; */
}
.cv-contact button{
    background-color: #222222;
    border: none;
    width: 70%;
    height: 35%;
    font-size: 17px;
    color: aliceblue;
    
}
.cv-hover button:hover{
    color: #F8B947;
    cursor: pointer;
}
.about-section{
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.profile-summary{
    width: 100%;
    height: 48%;
    /* background-color: #F8B947; */
    padding: 20px;
    color: aliceblue;
}
.summary{
    width: 100%;
    height: 45%;
    font-size: 14.5px;
    line-height: 25px;
    /* background-color: #675531; */
    
}
.personal-info1{
    width: 30%;
    font-size: 14px;  
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:50%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: aliceblue;
}
.personal-info1 p{
    color: aliceblue;
}
.personal-info2{
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: rgb(48, 77, 77); */
    position: absolute;
    top:60%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info2 p{
    color: aliceblue;
}
.personal-info3{
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:50%;
    left: 50%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info3 p{
    color: aliceblue;
}
.personal-info4{
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 60%;
    left: 50%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    /* background-color: rgb(66, 110, 110); */
}
.personal-info4 p{
    color: aliceblue;
}
.profile-summary span{
    color: #878787;
}
.services{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    margin-top: 50px;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}

.ch{
    font-size: 25px;
}
.services-prop{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,2fr) ;
}  
.testimonials{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: rgb(2, 59, 59); */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.facts{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.fact-prop{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.ch1{
    margin-top: 28px;
    /* background-color: #878787; */
    font-size: 35px;
}
.resume-section{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
    /* background-color: aqua; */
}
.resume-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.intern{
    width: 100%;
    padding: 20px;
    /* background-color: #ffa909; */
}
.intern-head{
    width: 27%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(106, 113, 113);
    /* background-color: aqua; */
    justify-content: space-between;
    color: aliceblue;
    padding: 5px 0px;
}
.side-border{
    border-left: 1px solid rgb(106, 113, 113);
    padding-left: 15px;
    position: relative;
}
.border-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    position: absolute;
    left: -5px;
    top: 7px;

}
.border-dot-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    position: absolute;
    left: -5px;
    top: 54%;
}
.intern-head span{
    width: 50px;
    height:50px;
    border-radius: 100%;
    border: 1px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intern-icon{
    font-size: 28px;
    color: #F8B947;
}
.duration{
    /* background-color: #a39b8b; */
    width: 22%;
    padding: 2px;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    text-align: center;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.intern-role{
    font-size: 14px;
    color: aliceblue;
    margin-top: 5px;
}
.company-name{
    font-size: 14px;
    font-weight: 600;
    color: rgb(106, 113, 113);
}
.company-name img{
    width: 15px;
    height: 15px;
    /* background-color: aquamarine; */
    margin-left: 10px;
}
.work-description{
    font-size: 14px;
    font-weight: 500;
    color: rgb(106, 113, 113);
}
.recommend{
    color: aliceblue;
    font-size: 14px;
    /* background-color: #F8B947; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.recommend span{
    font-size: 20px;
    padding-top: 8px;
    color: aliceblue;
    /* background-color: aqua; */
}
.education{
    width: 100%;
    padding: 20px;
    margin-top: -30px;
    /* background-color: #2b1c01; */
}
.edu-head{
    width: 25%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(106, 113, 113);
    /* background-color: aqua; */
    justify-content: space-between;
    color: aliceblue;
    padding: 5px 0px;
}

.edu-head span{
    width: 50px;
    height:50px;
    border-radius: 100%;
    border: 1px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edu-icon{
    font-size: 28px;
    color: #F8B947;
}
.edu-duration{
    width: 11%;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.edu-duration-1{
    width: 12%;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.univercity-name{
    font-size: 14px;
    color: aliceblue;
    margin-top: 5px;
}
.edu-role{
    font-size: 14px;
    font-weight: 600;
    color: rgb(106, 113, 113);
}
.clg-description{
    font-size: 14px;
    font-weight: 500;
    color: rgb(106, 113, 113);
}
.certification{
    color: aliceblue;
    font-size: 14px;
    /* background-color: #F8B947; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.certification span{
    font-size: 20px;
    padding-top: 8px;
    color: aliceblue;
    /* background-color: aqua; */
}
.skill{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.s-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.skill-prop{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,2fr) ;
    
}
.ch-2{
    margin-top: 28px;
    /* background-color: #878787; */
    font-size: 35px;
}
.coding{
    width: 100%;
    color: #F8B947;
    /* background-color: #4d05f4; */
    border-right: solid 1px rgb(106, 113, 113);
}
.progress-main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progress-div-1{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* background-color: #0ce0b9; */
}
.progress-circle-1{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    /* border-top-width:25% ; */
    /* border-top-color: #222222; */
}
.progress-circle-2{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    
}
.progress-circle-3{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    /* border-top:25% ; */
    /* border-top-color: #222222; */
}
.progress-circle-4{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    /* border-top-width:25% ; */
    /* border-top-color: #222222; */
}
.progress-head{
    font-size: 15px;
    color: aliceblue;
    /* background-color: #878787; */
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.knowledge{
    width: 100%;
    /* background-color: #675531; */
    
}
.knowledge-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    /* background-color: #9400d3; */
    gap: 12px;
}
.knowledge-div span{
    font-size: 16px;
    color: #F8B947;
    /* background-color: aqua; */
    
}
.tools-div{
    height: 69%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    position: relative;
    /* background-color: #878787; */
    font-size: 18px;
    color: aliceblue;

}
.tools-main{
    border-right: solid 1px rgb(106, 113, 113);
}
.line-1{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;
}
.line1{
    width: 55%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-2{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line2{
    width: 75%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-3{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line3{
    width: 64%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-4{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line4{
    width: 79%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.lang-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    /* background-color: #878787; */
    font-size: 18px;
    color: aliceblue;
}
.l-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
}
.l-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
}
.l-circle-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #393939;
    border: 1px solid #393939;
}
.works{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.w-font-circle{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.work-div{
    /* background-color: #4caf50; */
    height: auto;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
}
.w-div-1{
    /* background-color: #a0b4ed; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:solid 1px rgb(106, 113, 113) ;

}
.w-div-2{
    /* background-color: #062fa8; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.card-1{
    width: 100%;
    padding: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #F8B947; */

}
.card-1 img{
    width: 100%;
    height: 81%;
}
.card-2{
    width: 100%;
    padding: 20px;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    /* background-color: #5a3c03; */
}
.card-2 img{
    width: 100%;
    height: 72%;
}
.card-3{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 43vh;
    cursor: pointer;
    /* background-color: #5bf763; */
}
.card-3 img{
    width: 100%;
    height: 72%;
}
.card-4{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #062fa8; */
}
.card-4 img{
    width: 100%;
    height: 85%;
}
.card-5{
    width: 100%;
    padding: 20px;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #5a3c03; */
}
.card-5 img{
    width: 100%;
    height: 75%;
}
.card-6{
    width: 100%;
    padding: 20px;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #ec8209; */
}
.card-6 img{
    width: 100%;
    height: 88%;
}
.card-7{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #ec0b0e; */
}
.card-7 img{
    width: 100%;
    height: 75%;
}
.card-8{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #03595a; */
}
.card-8 img{
    width: 100%;
    height: 75%;
}
.contact{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.c-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.address{
    width: 100%;
    height: 55vh;
    /* background-color: #F8B947; */
    padding: 20px;
    color: aliceblue;
    position: relative;

}
.g-map{
    width: 100%;
    height: 70% ;
    font-size: 14.5px;
    line-height: 25px;
    /* background-color: #675531; */
}
.map{
    width: 100%;
    height: 100%;
}
.personal-info-1{
    width: 30%;
    font-size: 14px;  
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:75%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: aliceblue;
}
.personal-info-1 p{
    color: aliceblue;
}
.personal-info-2{
    width: 40%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: rgb(48, 77, 77); */
    position: absolute;
    top:85%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info-2 p{
    color: aliceblue;
}
.personal-info-3{
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:75%;
    left: 50%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info-3 p{
    color: aliceblue;
}
.personal-info-4{
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 85%;
    left: 50%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    /* background-color: rgb(66, 110, 110); */
}
.personal-info-4 p{
    color: aliceblue;
}
.address span{
    color: #878787;
}
.c-form{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.c-form-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}
.navcheck{
    display: none;
}
 .details{
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* background-color: gold;  */
}
.detail-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #F8B947; */
}
.detail-1 input{
    width: 48%;
    font-size: 16px;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #F8B947;
    border-bottom: 3px solid #F8B947;
    background-color: #222222;
}
.msg{
    width: 100%;
    /* background-color: #4caf50; */
    margin-top: 20px;
}
.msg textarea {
    width: 100%;
    font-size: 15px;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #F8B947;
    border-bottom: 3px solid #F8B947;
    background-color: #222222;
  }
.msg textarea {
    resize: vertical;
    min-height: 120px;
  }
.send-btn{
    margin-top: 20px;
    /* background-color: #4caf50; */
}
.send-btn button{
    width: 35%;
    padding-right: 50px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: #222222;
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.send-btn button:hover{
    color: #F8B947;
    transition: 3s;
}
.msg-icon{
    font-size: 20px;
    margin-top:3px;
    /* background-color: aquamarine; */
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.detail-1 input.error,
.msg textarea.error {
    border-color: #ff4444;
  }
.required-err{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #878787; */
    margin-top: 5px;
}
.error-message {
    width: 48%;
    color: #ff4444;
    font-size: 14px;
    /* background-color: #4caf50; */
}
.error-message-1 {
    width: 48%;
    color: #ff4444;
    font-size: 14px;
    /* background-color: #4caf50; */
}
.success-message {
    margin-top: 15px;
    border:1px solid #4caf50;
    color: #F8B947;
    font-size: 12xp;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}
/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 5px; /* Vertical scrollbar width */
    height: 10px; /* Horizontal scrollbar height */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 5px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color on hover */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #393838;
    /* Background color of the track */
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1; /* Color of the corner when both scrollbars are visible */
  }
.resume-div{
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
    /* overflow-x: hidden; */
} 
/* .resume-div img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
} */
.cv-img{
    
}


@media screen and (max-width:768px) {
.main{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}
.main1{
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-left: 0px;
    overflow-y: scroll;
    /* background-color: red; */
   
}
.navcheck{
    width: 100%;
    /* background-color: red; */
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: aliceblue;
}
.navleft{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    position: relative;
    display: flex;
    z-index: 9999;

}

.navright{
    width: 100%;
    height: 100%;
    /* background-color: #222222; */
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    position: relative;
}
.navright{
    overflow: hidden;
    overflow-y: scroll;
    margin-top: 100px;
}
.nav{
    /* background-color:blueviolet;  */
    padding-left: 0px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    z-index: 1000;
    position:fixed;
    left: 0px;
    z-index: 9999;
    
}
.screen-mode{
    width: 15%;
    height: 90%;
    color: aliceblue;
    /* background-color: #222222; */
    border:1px solid #222222;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    display: none

}
.screen-mode:hover{
    color:#F8B947;
}
.screen-mode12{
    width:auto;
    height: 90%;
    color: aliceblue;
    /* background-color: #222222; */
    border:1px solid #222222;
    border-radius: 5px;
    padding-top: 0px;
    padding-left: 0px;
    padding:15px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-mode1{
    width: 35%;
    height: 90%;
    color: aliceblue;
    /* background-color: #222222; */
    border:none;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.screen-mode1:hover{
    color:#F8B947;
}
.menu-list{
    width: 100%;
    height: 90%;
    border-radius:7px;
    /* border: solid 2px #222222; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    cursor: pointer;
    /* background-color: #f30a0a; */

   
}
.menu{
    width: 100%;
    height: 100%;
    /* background-color: #222222; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgb(106, 113, 113);


}
.menu:hover{
    color: #F8B947;
}
.about{
    color: #F8B947;
}
.nav-icon{
    /* background-color: bisque; */
    font-size: 19px;
    margin-top: 9px;
   
}
.profile-overview{
   width: 100%;
   height: 120%;
   border-radius: 5px;
    position: absolute;
    top: 200px;
    background-color: #222222;
    display: flex;
    align-items: center;
    left: -100%;
    justify-content: center;
    transition: 1s;

}
.profile-overview1{
    width: 100%;
    height: 120%;
    border-radius: 5px;
     position: absolute;
     top: 200px;
     background-color: #222222;
     display: flex;
     align-items: center;
     left: 0;
     justify-content: center;
     transition:1s;
 
 }
.profile-overview::before{
    content: "";
    width: 100%;
    height: 440px;
     position: absolute;
     border-radius: 5px;
     top: -20px;
    left: -20px;
     background-color: #52411bbd;
     z-index: -2;
     
 }
 .profile-overview1::before{
    content: "";
    width: 100%;
    height: 440px;
     position: absolute;
     border-radius: 5px;
     top: -20px;
    left: 0px;
     background-color: #52411bbd;
     z-index: -2;
     
 }

 .profile-image{
    /* background-color: aqua; */
    z-index: 1;
    width:100%;
    height: 100%;
    position: absolute;
    top: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.profile-overview img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 30%;
    cursor: pointer;
    margin: 0 auto;

    /* background-color: aquamarine; */
 }
 .profile-overview1 img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    top:-40px;
    left: 33%;
    cursor: pointer;

    /* background-color: aquamarine; */
 }
.background-circle{
    width: 160px;
    height: 160px;
    background-color: #675531;
    position: absolute;
    border-radius: 50%;
    left: 30%;
    top: -40px;
    z-index: 2;
}
.image-background{
    width: 100%;
    height: 67%;
    top: 35%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #222222;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    position: absolute;
    z-index: 1;
    display: none
}
.name{
    width: 65%;
    height: 10%;
    position: absolute;
    top: 150px;
    left: 30%;
    font-size: 20px;
    color: aliceblue;
    /* background-color: blueviolet; */
}
.posting{
    width: 59%;
    height: 10%;
    position: absolute;
    top:180px;
    left: 32%;
    color:#F8B947 ;
    font-size: 15px;
    /* background-color: aquamarine; */
}
.profile-icons {
    width: 54%;
    height: 10%;
    /* background-color: rgb(248, 10, 10); */
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 19px;
    position: absolute;
    top: 250px;
    left: 24%;
}
.profile-icons a {
    width: 20px;
    height: 22px;
    text-align: center;
    background-color: #222222;
    color: aliceblue;
}
.profile-icons a :hover{
    color: #F8B947;
    cursor: pointer;

}
.cv-section{
    width: 100%;
    height: 100%;
    background-color: #eea30d;
    z-index: 5;
    position: absolute;
    top:380px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    /* padding: 10px; */
    font-weight: 500;
    color: aliceblue;
}
.cv-download{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    /* background-color: aqua; */
    border: 1px solid  rgb(106, 113, 113) ;
}
.cv-download button{
    background-color: #222222;
    border: none;
    width: 70%;
    height: 35%;
    font-size: 17px;
    color: aliceblue;
}
.cv-hover button:hover{
    color: #F8B947;
}
.download-icon{
    font-size: 20px;
    /* background-color: #675531; */
}
.cv-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    position: absolute;
    align-items: center;
    left: 50%;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border: 1px solid  rgb(106, 113, 113) ;
    /* background-color: blue; */
}
.cv-contact button{
    background-color: #222222;
    border: none;
    width: 70%;
    height: 35%;
    font-size: 17px;
    color: aliceblue;
    
}
.cv-hover button:hover{
    color: #F8B947;
    cursor: pointer;
}
.about-section{
    width: 100%;
    height: 20%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 40px;
    color: aliceblue;
    /* background-color: aqua; */
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:105px;
    left: 12px;
    z-index: 1;
}
.profile-summary{
    width: 100%;
    height: 48%;
    margin-top: 10px;
    /* background-color: #F8B947; */
    padding: 20px;
    color: aliceblue;
}
.summary{
    width: 100%;
    height: 45%;
    font-size: 14.5px;
    line-height: 25px;
    /* background-color: #675531; */
    
}
.personal-info1{
    width: 30%;
    font-size: 16px;  
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:51%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: aliceblue;
}
.personal-info1 p{
    color: aliceblue;
}
.personal-info2{
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    /* background-color: rgb(48, 77, 77); */
    position: absolute;
    top:57%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info2 p{
    color: aliceblue;
}
.personal-info3{
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:62%;
    left: 5%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info3 p{
    color: aliceblue;
}
.personal-info4{
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 67%;
    left: 5%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    /* background-color: rgb(66, 110, 110); */
}
.personal-info4 p{
    color: aliceblue;
}
.profile-summary span{
    color: #878787;
}
.services{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: aliceblue;
    margin-top: 50px;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:19px;
    left: 12px;
    z-index: 10;
}

.ch{
    font-size: 25px;
}
.services-prop{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,2fr) ;
}  
.testimonials{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: rgb(2, 59, 59); */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
.facts{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.font-circle-2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
.fact-prop{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.ch1{
    margin-top: 28px;
    /* background-color: #878787; */
    font-size: 35px;
}
.resume-section{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
    /* background-color: aqua; */
}
.resume-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #f8ba477b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
.intern{
    width: 100%;
    padding: 20px;
}
.intern-head{
    width: 27%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(106, 113, 113);
    /* background-color: aqua; */
    justify-content: space-between;
    color: aliceblue;
    padding: 5px 0px;
}
.side-border{
    border-left: 1px solid rgb(106, 113, 113);
    padding-left: 15px;
    position: relative;
}
.border-dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    position: absolute;
    left: -5px;
    top: 7px;

}
.border-dot-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    position: absolute;
    left: -5px;
    top: 54%;
}
.intern-head span{
    width: 50px;
    height:50px;
    border-radius: 100%;
    border: 1px solid #F8B947;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.intern-icon{
    font-size: 28px;
    color: #F8B947;
}
.duration{
    /* background-color: #a39b8b; */
    width: auto;
    padding: 2px;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    text-align: center;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.intern-role{
    font-size: 14px;
    color: aliceblue;
    margin-top: 5px;
}
.company-name{
    font-size: 14px;
    font-weight: 600;
    color: rgb(106, 113, 113);
}
.company-name img{
    width: 15px;
    height: 15px;
    /* background-color: aquamarine; */
    margin-left: 10px;
}
.work-description{
    font-size: 14px;
    font-weight: 500;
    color: rgb(106, 113, 113);
}
.recommend{
    color: aliceblue;
    font-size: 14px;
    /* background-color: #F8B947; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.recommend span{
    font-size: 20px;
    padding-top: 8px;
    color: aliceblue;
    /* background-color: aqua; */
}
.education{
    width: 100%;
    padding: 20px;
    margin-top: -30px;
    /* background-color: #2b1c01; */
}
.edu-head{
    width: 25%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(106, 113, 113);
    /* background-color: aqua; */
    justify-content: space-between;
    color: aliceblue;
    padding: 5px 0px;
}

.edu-head span{
    width: 50px;
    height:50px;
    border-radius: 100%;
    border: 1px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-right: 10px;
}
.edu-icon{
    font-size: 28px;
    color: #F8B947;
}
.edu-duration{
    width: auto;
    padding: 2px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.edu-duration-1{
    width: 100%;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    border-radius: 5px;
    color: #F8B947;
    border: 1px solid #F8B947;
}
.univercity-name{
    font-size: 14px;
    color: aliceblue;
    margin-top: 5px;
}
.edu-role{
    font-size: 14px;
    font-weight: 600;
    color: rgb(106, 113, 113);
}
.clg-description{
    font-size: 14px;
    font-weight: 500;
    color: rgb(106, 113, 113);
}
.certification{
    color: aliceblue;
    font-size: 14px;
    /* background-color: #F8B947; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.certification span{
    font-size: 20px;
    padding-top: 8px;
    color: aliceblue;
    /* background-color: aqua; */
}
.skill{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    position: relative;
    /* padding: 20px; */
    border-bottom: solid 1px rgb(106, 113, 113);
}
.s-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:46px;
    left: 20px;
    z-index: 10;
}
.skill-prop{
    width: 100%;
    display: grid;
    /* background-color: green; */
    grid-template-columns:repeat(1,4fr) ;
    
}
.ch-2{
    margin-top: 28px;
    /* background-color: #878787; */
    font-size: 35px;
}
.coding{
    width: 100%;
    color: #F8B947;
    /* background-color: #4d05f4; */
    border-right: solid 1px rgb(106, 113, 113);
}
.progress-main{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.progress-div-1{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /* background-color: #0ce0b9; */
}
.progress-circle-1{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    /* border-top-width:25% ; */
    /* border-top-color: #222222; */
}
.progress-circle-2{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.progress-circle-3{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top:25% ; */
    /* border-top-color: #222222; */
}
.progress-circle-4{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    padding: 25px;
    border: 5px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-top-width:25% ; */
    /* border-top-color: #222222; */
}
.progress-head{
    font-size: 18px;
    color: aliceblue;
    /* background-color: #878787; */
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}
.knowledge{
    width: 100%;
    /* background-color: #675531; */
    
}
.knowledge-div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    /* background-color: #9400d3; */
    gap: 12px;
}
.knowledge-div span{
    font-size: 16px;
    color: #F8B947;
    /* background-color: aqua; */
    
}
.tools-div{
    height: 69%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    position: relative;
    /* background-color: #878787; */
    font-size: 18px;
    color: aliceblue;

}
.tools-main{
    border-right: solid 1px rgb(106, 113, 113);
}
.line-1{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;
}
.line1{
    width: 55%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-2{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line2{
    width: 75%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-3{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line3{
    width: 64%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.line-4{
    width: 85%;
    height: 2%;
    background-color: #393939;
    position:absolute;
    color: aliceblue;
    margin-top: 5px;

}
.line4{
    width: 79%;
    height: 2%;
    position: absolute;
    background-color: #F8B947;
    border: 1px solid #F8B947;
    margin-top: 5px;

}
.lang-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    /* background-color: #878787; */
    font-size: 18px;
    color: aliceblue;
}
.l-div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
}
.l-circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #F8B947;
    border: 1px solid #F8B947;
}
.l-circle-1{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #393939;
    border: 1px solid #393939;
}
.works{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.w-font-circle{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
.work-div{
    /* background-color: #4caf50; */
    height: auto;
    width: 100%;
    /* padding: 20px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.w-div-1{
    /* background-color: #a0b4ed; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:solid 1px rgb(106, 113, 113) ;

}
.w-div-2{
    /* background-color: #062fa8; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.card-1{
    width: 100%;
    padding: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #F8B947; */

}
.card-1 img{
    width: 100%;
    height: 81%;
}
.card-2{
    width: 100%;
    padding: 20px;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    /* background-color: #5a3c03; */
}
.card-2 img{
    width: 100%;
    height: 72%;
}
.card-3{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 43vh;
    cursor: pointer;
    /* background-color: #5bf763; */
}
.card-3 img{
    width: 100%;
    height: 72%;
}
.card-4{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #062fa8; */
}
.card-4 img{
    width: 100%;
    height: 85%;
}
.card-5{
    width: 100%;
    padding: 20px;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #5a3c03; */
}
.card-5 img{
    width: 100%;
    height: 75%;
}
.card-6{
    width: 100%;
    padding: 20px;
    height: 80vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #ec8209; */
}
.card-6 img{
    width: 100%;
    height: 88%;
}
.card-7{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #ec0b0e; */
}
.card-7 img{
    width: 100%;
    height: 75%;
}
.card-8{
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    /* background-color: #03595a; */
}
.card-8 img{
    width: 100%;
    height: 75%;
}
.contact{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.c-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
.address{
    width: 100%;
    height: 55vh;
    /* background-color: #F8B947; */
    padding: 20px;
    color: aliceblue;
    position: relative;

}
.g-map{
    width: 100%;
    height: 70% ;
    font-size: 14.5px;
    line-height: 25px;
    /* background-color: #675531; */
}
.map{
    width: 100%;
    height: 100%;
}
.personal-info-1{
    width: 30%;
    font-size: 14px;  
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:75%;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    color: aliceblue;
}
.personal-info-1 p{
    color: aliceblue;
}
.personal-info-2{
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: rgb(48, 77, 77); */
    position: absolute;
    top:85%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info-2 p{
    color: aliceblue;
}
.personal-info-3{
    width: 90%;
    font-size: 14px;
    font-weight: 500;
    /* background-color: aqua; */
    position: absolute;
    top:95%;
    left: 5%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}
.personal-info-3 p{
    color: aliceblue;
}
.personal-info-4{
    width: 30%;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 105%;
    left: 5%;
    color: aliceblue;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    /* background-color: rgb(66, 110, 110); */
}
.personal-info-4 p{
    color: aliceblue;
}
.address span{
    color: #878787;
}
.c-form{
    width: 100%;
    height: 15%;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 45px;
    margin-top: 20px;
    padding-bottom: 10px;
    color: aliceblue;
    /* background-color: aqua; */
    position: relative;
    border-bottom: solid 1px rgb(106, 113, 113);
}
.c-form-font-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffa8067b;
    position: absolute;
    top:46px;
    left: 12px;
    z-index: 10;
}
 .details{
    width: 100%;
    padding: 20px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* background-color: gold;  */
}
.detail-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* background-color: #F8B947; */
}
.detail-1 input{
    width: 48%;
    font-size: 16px;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #F8B947;
    border-bottom: 3px solid #F8B947;
    background-color: #222222;
}
.msg{
    width: 100%;
    /* background-color: #4caf50; */
    margin-top: 20px;
}
.msg textarea {
    width: 100%;
    font-size: 15px;
    padding-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #F8B947;
    border-bottom: 3px solid #F8B947;
    background-color: #222222;
  }
.msg textarea {
    resize: vertical;
    min-height: 120px;
  }
.send-btn{
    margin-top: 20px;
    /* background-color: #4caf50; */
}
.send-btn button{
    width: 65%;
    padding-right: 50px;
    font-size: 14px;
    border: none;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: #222222;
    display: flex;
    gap: 5px;
    align-items: center;
    align-content: center;
    cursor: pointer;
}
.send-btn button:hover{
    color: #F8B947;
    transition: 3s;
}
.msg-icon{
    font-size: 20px;
    margin-top:3px;
    /* background-color: aquamarine; */
}
.contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
  
.detail-1 input.error,
.msg textarea.error {
    border-color: #ff4444;
  }
.required-err{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #878787; */
    margin-top: 5px;
}
.error-message {
    width: 48%;
    color: #ff4444;
    font-size: 14px;
    /* background-color: #4caf50; */
}
.error-message-1 {
    width: 48%;
    color: #ff4444;
    font-size: 14px;
    /* background-color: #4caf50; */
}
.success-message {
    margin-top: 15px;
    border:1px solid #4caf50;
    color: #F8B947;
    font-size: 12xp;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}
  

}