.work{
    width: 100%;
    /* background-color: aqua; */
}
.work-title{
    width: 100%;
    color: aliceblue;
    /* background-color: aquamarine; */
}
.media{
    width: 100%;
    color: aliceblue;
    /* background-color: beige; */
}