.services-props{
    width: 100%;
    height: 100%;
    /* background-color: rgb(123, 4, 123); */
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border: 1px solid rgb(106, 113, 113);
}
.services-icon{
    font-size: 40px;
    color: #F8B947;
    /* background-color: rgb(197, 157, 235); */
    
}

.title{
    color: aliceblue;
    width: 100%;
    font-size: 13.5px;
    font-weight: 600;
}
.description{
    color: aliceblue; 
    width: 100%;
    font-size: 14px;
}

.services-props span{
    width: 50px;
    height:50px;
    border-radius: 100%;
    border: 1px solid #F8B947;
    display: flex;
    align-items: center;
    justify-content: center;
}
